# PyCitySchools

Well done! Having spent years analyzing financial records for big banks, you’ve finally scratched your idealistic itch and joined the education sector. In your latest role, you’ve become the Chief Data Scientist for your city’s school district. In this capacity, you’ll be helping the school board and mayor make strategic decisions regarding future school budgets and priorities.

As a first task, you’ve been asked to analyze the district-wide standardized test results. You’ll be given access to every student’s math and reading scores, as well as various information on the schools they attend. Your responsibility is to aggregate the data to and showcase obvious trends in school performance.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [3]:
# Combine the data into a single dataset.  
complete_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

Create a high level snapshot (in table form) of the district’s key metrics, including:
   * Total Schools
   * Total Students
   * Total Budget
   * Average Math Score
   * Average Reading Score
   * % Passing Math (The percentage of students that passed math.)
   * % Passing Reading (The percentage of students that passed reading.)
   * % Overall Passing (The percentage of students that passed math and reading.)

In [4]:
# Check to see if there are any rows with missing data
complete_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
# Total Schools
school_count = school_data["school_name"].count()
# Total Students
student_count = student_data["student_name"].count()
# Total Budget
total_budget = school_data["budget"].sum()
# Average Math Score
average_math = (complete_data["math_score"].mean())
# Average Reading Score
average_reading = complete_data["reading_score"].mean()
# % Passing Math (The percentage of students that passed math.)
passing_math = ((complete_data["math_score"] >= 70).sum() / student_count) * 100
# % Passing Reading (The percentage of students that passed reading.)
passing_reading = ((complete_data["reading_score"] >= 70).sum() / student_count * 100)
# % Overall Passing (The percentage of students that passed math and reading.)
overall_passing = ("{:.2f} %".format((((complete_data["math_score"] >= 70) & (complete_data["reading_score"] >= 70)).sum() / student_count) * 100))

In [6]:
# Now that we have all the series needed to complete the District_Summary df
District_Summary = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": ('{:,}'.format(student_count)),
    "Total Budget": ('${:,.2f}'.format(total_budget)),
    "Average Math Score": ('{:.2f}'.format(average_math)),
    "Average Reading Score": ('{:.2f}'.format(average_reading)),
    "% Passing Math": ("{:.2f} %".format(passing_math)),
    "% Passing Reading": ("{:.2f} %".format(passing_reading)),
    "% a Passing": [overall_passing]
})

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% a Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98 %,85.81 %,65.17 %

## School Summary

Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math and reading.)
  
Create a dataframe to hold the above results

In [7]:
#Since most of the metrics being asked is the average per school, let's get the mean value by school_name from the comple_data set.
#Include the type so it will be added to the data frame
school_df = complete_data.groupby(['school_name','type']).mean()
school_df

,,Student ID,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [9]:
# From the school_df we have the following series we need for our School_Summary_df:
    # School Name = "school_name"
    # School Type = "type"
    # Total Students = "size"
    # Total School Budget = "budget"    
    # Average Math Score = "math_score"
    # Average Reading Score = "reading_score"

    
# We need the following series to complete the School_Summary_df:
    # Per Student Budget
    # % Passing Math
    # % Passing Reading
    # % Overall Passing (The percentage of students that passed math and reading.)

    
# # Per Student Budget
per_student_budget = school_df.groupby(["school_name"]).mean()["budget"] / school_df["size"]


# Filter all the math, reading and overall score that meets the passing grade from the complete_data df
passing_math = complete_data[(complete_data["math_score"] >= 70)]
passing_reading = complete_data[(complete_data["reading_score"] >= 70)]
passing_overall = complete_data[(complete_data["reading_score"] >= 70) & (complete_data["math_score"] >= 70)]

# Use the filtered list to get the scores per school...
# % Passing Math
school_passing_math = passing_math.groupby(['school_name']).count()['student_name'] / school_df["size"] * 100
# % Passing Reading
school_passing_reading = passing_reading.groupby(['school_name']).count()['student_name'] / school_df["size"] * 100
# % Overall Passing (The percentage of students that passed math and reading.)
school_passing_overall = passing_overall.groupby(['school_name']).count()['student_name'] / school_df["size"] * 100


# Let's add the new series into school_df
school_df = school_df.join(pd.DataFrame(
    {
    "Per Student Budget": per_student_budget,
    "% Passing Math": school_passing_math,
    "% Passing Reading": school_passing_reading,
    "% Overall Passing": school_passing_overall
    }, index=school_df.index
))
school_df

,,Student ID,reading_score,math_score,School ID,size,budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0,66.680064,81.933280,54.642283
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0,94.133477,97.039828,91.334769
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0,65.988471,80.739234,53.204476
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0,68.309602,79.299014,54.289887
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0,93.392371,97.138965,90.599455
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,652.0,66.752967,80.862999,53.527508
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0,581.0,92.505855,96.252927,89.227166
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0,65.683922,81.316421,53.513884
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0,66.057551,81.222432,53.539172
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0,94.594595,95.945946,90.540541
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0,66.366592,80.220055,52.988247
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,600.0,93.867121,95.854628,89.892107
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0,93.272171,97.308869,90.948012
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0,93.867718,96.539641,90.582567
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,583.0,93.333333,96.611111,90.333333

In [14]:
# Now let's make the final School_Summary by removing some columns we dont need and re-naming

school_df.drop(["Student ID"], axis=1)

School_Summary_df = school_df[["size", "budget", "Per Student Budget", "math_score", "reading_score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
School_Summary_df

,,size,budget,Per Student Budget,math_score,reading_score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333